// Custom 3.2.0
// Bootswatch
// -----------------------------------------------------

@import url("//fonts.googleapis.com/css?family=Roboto Condensed:300,400,700"); 

// Navbar =====================================================================

// Buttons ====================================================================

// Typography =================================================================
body {
    -webkit-font-smoothing: antialiased;
}

.text-lcars {
    text-transform: uppercase;
}

.text-primary,
.text-primary:hover {
    color: @brand-primary;
}

.text-success,
.text-success:hover {
    color: @brand-success;
}

.text-danger,
.text-danger:hover {
    color: @brand-danger;
}

.text-warning,
.text-warning:hover {
    color: @brand-warning;
}

.text-info,
.text-info:hover {
    color: @brand-info;
}

// Tables =====================================================================

// Forms ======================================================================

// Navs =======================================================================

// Indicators =================================================================

// Progress bars ==============================================================

// Containers =================================================================
